@font-face {
  font-family: 'MyWebFont';
  src: url('./Death_Star.otf'); 
}

html {
	font-family: MyWebFont;
}

#titlediv {
	font-size:80px;
}

#beginButton {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size:20px;
    font-family: MyWebFont;
}